<section id="ticket-list-view">
	<header id="ticket-header">
		<h1>{{headings.all}}</h1>
		<form>
			<input id="new-ticket" placeholder="{{placeholders.create}}">
		</form>
	</header>
	<section id="main-ticket">
		<i id="new-icon" class="fa fa-pencil fa-lg"></i>
		<ul id="ticket-list"></ul>
	</section>
	<footer id="footer">
		<span id="ticket-count">
			<strong id="count-number">1</strong><span id="count-text"> item left</span>
		</span>
		<ul id="filters">
			<li><a class="selected" href="#tickets" id="tagAll">{{filters.all}}</a></li>
			<li><a href="#tickets/active" id="tagActive">{{filters.active}}</a></li>
			<li><a href="#tickets/completed" id="tagComplete">{{filters.completed}}</a></li>
		</ul>
		<button type="button" id="clear-completed">{{buttons.clearCompleted}}</button>
	</footer>
</section>