<form class="form-signin" role="form">
	<h2 class="form-signin-heading"><span class="glyphicon glyphicon-user"></span> {{signin.heading}}</h2>

	<input type="text" class="form-control" name="user" id="username" value="{{username}}" placeholder="{{placeholders.username}}" required>

	<input type="password" class="form-control" name="pass" id="password" placeholder="{{labels.password}}" required data-content="{{messages.capslock}}" data-trigger="manual" data-placement="bottom">

	{{!-- <label class="checkbox">
		<input type="checkbox" value="remember-me"> {{labels.remember}}
	</label> --}}

	<div id="signin-message" class="alert alert-danger alert-dismissable hidden"></div>

	<button class="submit-signin-credentials btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-user"></span> {{buttons.signin}}</button>
</form>
