<a href="#wines/{{_id}}" class="thumbnail plain" style="text-align: center;">
	{{#if picture}}
		<img src="pics/{{picture}}" alt="" height="150" width="125" alt="" />
	{{else}}
		<img src="pics/generic.jpg" alt="" height="150" width="125" alt="" />
    {{/if}}
    <h5>{{name}}</h5>
    {{year}} {{grapes}}<br/>
    <span class="glyphicon glyphicon-globe"></span> {{region}}, {{country}}
</a>