<ul data-role="listview">
    <li data-icon="delete"><a href="#" data-rel="close">{{items.close}}</a></li>
    <li data-icon="home"><a href="#home">{{items.home}}</a></li>
    <li data-icon="check"><a href="#" class="login-popup">{{items.login}}</a></li>
    <li data-icon="plus"><a href="#signup">{{items.signup}}</a></li>
    <li><a href="#about">{{items.about}}</a></li>
    <li><a href="#wines">{{items.wineList}}</a></li>
</ul>