<ul class="nav nav-sidebar">
    <li class="active"><a href="#dashboard"><span class="glyphicon glyphicon-dashboard"></span>{{items.dashboard}}</a></li>
	<li><a href="#login"><span class="glyphicon glyphicon-user">{{items.login}}</a></li>
    <li><a href="#signup"><span class="glyphicon glyphicon-ok-sign">{{items.signup}}</a></li>
    <li><a href="#about"><span class="glyphicon glyphicon-question-sign"></span>{{items.about}}</a></li>
    <li><a href="#wines"><span class="glyphicon glyphicon-list"></span>{{items.wineList}}</a></li>
    <li><a href="#wines/add"><span class="glyphicon glyphicon-plus"></span>{{items.addWine}}</a></li>
</ul>