<ul class="nav sidebar-nav">
	{{!-- search list item --}}
	<li class="sidebar-search hide-before-signin hidden">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="{{placeholders.search}}">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        {{!-- /input-group --}}
    </li>
    {{!-- navigation items --}}
    <li class="hide-before-signin hidden">
        <a href="#dashboard">
            <i class="fa fa-tachometer"></i> {{items.dashboard}}
        </a>
    </li>
	<li class="show-before-signin hidden">
        <a href="#signin">
            <i class="fa fa-sign-in"></i> {{items.signin}}
        </a>
    </li>
    <li class="show-before-signin hidden">
        <a href="#signup">
            <i class="fa fa-user"></i> {{items.signup}}
        </a>
    </li>
    <li class="hide-before-signin hidden">
        <a href="#tickets/create">
            <i class="fa fa-ticket"></i> {{items.createTicket}}
        </a>
    </li>
    <li class="hide-before-signin hidden">
        <a href="#tickets">
            <i class="fa fa-tasks"></i> {{items.tickets}}
        </a>
    </li>
</ul>