<h1><span class="glyphicon glyphicon-ok-sign"></span> {{headers.signup}}</h1>

<form role="form">
	<div class="form-group">
		<label for="username">{{labels.username}}:</label>
		<input type="text" class="form-control" name="username" id="username" placeholder="{{placeholders.username}}" required autofocus>
	</div>

	<div class="form-group">
		<label for="name">{{labels.name}}:</label>
		<input type="text" class="form-control" name="name" id="name" placeholder="{{placeholders.name}}" required>
	</div>

	<div class="form-group">
		<label for="email">{{labels.email}}:</label>
		<input type="text" class="form-control" name="email" id="email" placeholder="{{placeholders.email}}" required>
	</div>

	<div class="form-group">
		<label for="password">{{labels.password}}:</label>
		<input type="password" class="form-control" name="password" id="password" placeholder="{{placeholders.password}}" required>
	</div>

	<div class="form-group">
		<label for="repeatPassword">{{labels.repeatPassword}}:</label>
		<input type="password" class="form-control" name="repeatPassword" id="repeatPassword" placeholder="{{placeholders.repeatPassword}}" required>
	</div>

	<div class="form-group">
		 <label><input type="checkbox" name="termsOfUse" id="termsOfUse"/> {{labels.touAgree}} <a href="#" id="termsOfUsePopup">{{labels.tou}}</a></label>
	</div>

	<button type="submit" class="signup btn btn-primary"><span class="glyphicon glyphicon-ok"></span> {{buttons.signup}}</button>
</form>

<div id="signup-result"></div>
