<form role="form">
	<div class="form-group">
		<label for="ticket-id">{{labels.id}}:</label>
		<input type="text" class="form-control" name="id" id="ticket-id" value="{{_id}}" placeholder="{{placeholders.id}}" disabled="disabled">
	</div>

	<div class="form-group">
		<label for="ticket-type">{{labels.type}}:</label>
		<input type="text" class="form-control" name="type" id="ticket-type" value="{{type}}" placeholder="{{placeholders.type}}">
	</div>

	<div class="form-group">
		<label for="ticket-state">{{labels.state}}:</label>
		<select id="ticket-state" class="form-control show-tick" name="state">
			<option data-content="<i class='fa fa-asterisk state-new'></i> {{selects.state.new}}" value="new">{{selects.state.new}}</option>
			<option data-content="<i class='fa fa-arrow-right state-active'></i> {{selects.state.active}}" value="active">{{selects.state.active}}</option>
			<option data-content="<i class='fa fa-check state-completed'></i> {{selects.state.completed}}" value="completed">{{selects.state.completed}}</option>
		</select>
	</div>

	<div class="form-group">
		<label for="ticket-title">{{labels.title}}:</label>
		<input type="text" class="form-control" name="title" id="ticket-title" value="{{title}}" placeholder="{{placeholders.title}}">
	</div>

	<div class="form-group">
		<label for="ticket-description">{{labels.description}}:</label>
		<textarea name="description" class="form-control" id="ticket-description" placeholder="{{placeholders.description}}" rows="6">{{description}}</textarea>
	</div>

	<div id="alert-error-region"></div>

	{{#if _id}}
		{{!-- edit existing --}}
		<button type="submit" class="save btn btn-primary"><i class="fa fa-floppy-o fa-lg"></i> {{buttons.save}}</button>
		<button type="submit" class="delete-confirm btn btn-danger"><i class="fa fa-trash-o fa-lg"></i> {{buttons.delete}}</button>
	{{else}}
		{{!-- create --}}
		<button type="submit" class="create btn btn-primary"><i class="fa fa-ticket fa-lg"></i> {{buttons.create}}</button>
	{{/if}}
</form>

<br />
<div id="alert-success-region"></div>